.container{
  padding: 50px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
}

.containerDark{
  background-color: var(--background-color-dark);
}

.containerLigth{
  background-color: white;
}

.icon{
  position: relative;
  height: 100px;
  width: 120px;
  z-index: 2;
  perspective: 100px;
  margin: 0 auto 45px;
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  top: 33px;
}

.icon::before{
  background: linear-gradient(180deg, #ebfffd, #efeefa);
  position: absolute;
  content: "";
  right: 44%;
  top: -15%;
  height: 100%;
  width: 88px;
  z-index: -1;
  transform-style: preserve-3d;
  transform: rotateY(-5deg);
  -webkit-transform: rotateY(-5deg);
  box-shadow: 0 0 1px transparent;
}

.iconInner{
  position: relative;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  background: #702fff;
  left: 32px;
  z-index: 1;
  overflow: hidden;
}

.layerImage{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 20px;
  line-height: 29px;
  font-weight: 700;
  transition: all .5s;
}

.title:hover{
  cursor: pointer;
  color: #702fff;
}

.subtitle{
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 15px 0;
  text-align: center;
}

.button, .buttonDark{
  background: transparent;
  height: auto;
  line-height: inherit;
  position: relative;
  padding: 0;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.button{
  color: #702fff;
}

.buttonDark::after{
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 2px;
  content: "";
  left: 0;
  transition: all .5s;
  background: var(--text-color-light);
}

.button::after{
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 2px;
  content: "";
  left: 0;
  transition: all .5s;
  background: #702fff;
}

.button:hover, .buttonDark:hover{
  cursor: pointer;
}

.container:hover .button::after, .container:hover .buttonDark::after{
  width: 100%;
}

.dark{
  color: var(--text-color-light);
}

.ligth{
  color: black;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .containerDark::before, .containerLigth::before{
    transform: perspective(500px) rotateY(-5deg);
    position: absolute;
    width: calc(100% - 5px);
    height: calc(100% - 10px);
    top: 30px;
    right: 25px;
    content: "";
    border: 4px solid #000345;
    z-index: -1;
    transition: all .4s;
    box-shadow: 0 0 1px transparent;
    transition-delay: .2s;
    opacity: 0;
    visibility: hidden;
    transform-style: preserve-3d;
    pointer-events: none;
  }

  .containerLigth:hover::before{
    border: 4px solid black;
    opacity: 1;
    visibility: visible;
  }

  .containerDark:hover::before{
    border: 4px solid #242526;
    opacity: 1;
    visibility: visible;
  }

  .containerDark::after, .containerLigth::after{
    background: #fff;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: perspective(500px) rotateY(-5deg);
    opacity: 0;
    transition: all .3s;
    transform-style: preserve-3d;
    pointer-events: none;
  }

  .containerLigth:hover:after{
    background: white;
    opacity: 1;
  }

  .containerDark:hover:after{
    background: #242526;
    opacity: 1;
  }

  .title{
    font-size: 26px;
    line-height: 32px;
  }
  
  .subtitle{
    font-size: 18px;
    line-height: 28px;
  }
  
  .button, .buttonDark{
    font-size: 16px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .icon{
    margin: 0 auto 75px;
  }

  .button, .buttonDark{
    margin-bottom: 40px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {}