.section{
  display: flex;
  justify-content: center;
}

.secctionDark{
  background-color: var(--background-color-dark-second);
}

.secctionLigth{
  background-color: white;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 50px 50px 20px 50px;
}

.leftContent{
  display: flex;
  flex-direction: column;
}

.leftContent .paragraph{
  margin: 15px 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.title{
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 15px;
}

.rightContent{
  display: flex;
  flex-direction: column;
  /* padding: 0px 10px 20px 10px; */
}

.formContainer{
  background-color: white;
  box-sizing: border-box;
  padding: 50px 20px;
  margin-top: 30px;
}

.formContainerDark{
  background-color: var(--background-color-dark);;
}

.titleForm{
  color: #000248;
  font-size: 22px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.input{
  margin: 20px 0;
}

.buttonAnimate{
  width: 100%;
  margin: 30px 0;
  font-weight: 700;
}

.footer{
  text-align: center;
  font-weight: 400;
}

.phone{
  font-size: 14px;
  font-weight: 700;
}

.number{
  cursor: pointer;
  transition: all .5s;
}

.number:hover{
  color: #702fff;
}

.phoneLight{
  color: #000248;
}

.dark{
  color: #d3d3d4;
}

.light{
  color: #757589;
}

/* Estilos de los inputs*/
.inputLabel{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  z-index: 1;
}

.inputWrapper::after {
  content: '';
  --tw-bg-opacity: 1;
  background-color: #702fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container{
    padding: 80px 100px 50px 100px;
  }

  .title{
    font-size: 35px;
    line-height: 42px;
  }

  .leftContent>p{
    font-size: 18px;
    line-height: 28px;
  }

  .formContainer{
    perspective: 1000px;
    max-width: 490px;
    padding: 50px 50px 50px 60px;
    margin-top: 50px;
  }

  .formContainerDark::after, .formContainer::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-style: preserve-3d;
    transform: rotateY(-10deg);
    box-shadow: 4px 2px 9px 7px rgba(0, 0, 0, .1);
  }

  .formContainerDark::after{
    background: #242526;
    box-shadow: 0 0 1px transparent;
  }

  .titleForm{
    font-size: 33px;
    line-height: 46px;
  }

  .phone{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container{
    max-width: 900px;
    flex-direction: row;
    padding: 120px 50px 100px 50px;
  }

  .leftContent{
    width: 50%;
  }

  .leftContent>p{
    font-size: 20px;
    line-height: 32px;
  }

  .title{
    font-size: 40px;
    line-height: 52px;
  }

  .rightContent{
    width: 50%;
    margin-left: 20px;
  }

  .formContainer{
    padding: 30px;
  }

  .titleForm{
    font-size: 35px;
  }

  .phone{
    font-size: 22px;
    line-height: 26px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container{
    max-width: 1100px;
  }

  .title{
    font-size: 50px;
    line-height: 62px;
  }

  .rightContent{
    margin-left: 50px;
  }

  .formContainer{
    padding: 60px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
  .container{
    max-width: 1250px;
  }
}