.container{
  position: fixed;
  bottom: 0px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 80px;
  box-shadow: 3px 8px 90px 0px rgb(35 34 34 / 65%) !important;
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease-in-out;
  z-index: -1;
  background-color: white;
  color: #757589;
  flex-direction: column;
}

.icon{
  color: #702fff;
}

.show{
  bottom: 30px;
  opacity: 100;
  z-index: 1;
}

.dark{
  background-color: #0d0e0e;
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container{
    right: 40px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {}