@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color-dark: #242526;
    --background-color-dark-second: #18191a;
    --background-color-light: #ecf8ff;
    --text-color-dark: #000;
    --text-color-light: #d3d3d4;
    --select-option-menu: #702fff;
}

body{
    font-family: DM Sans, sans-serif;
}