.section{
  display: flex;
  justify-content: center;
}

.secctionLigth{
  background-color: #fafafb;
  color: #000248;
}

.secctionDark{
  background-color: #242526;
  color: #d3d3d4;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 80px 50px;
}

.topContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downContainer{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  z-index: 0;
}

.title{
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}

.text{
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title{
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 42px;
  }
  
  .text{
    font-size: 18px;
    line-height: 28px;
  }

  .downContainer{
    flex-direction: row;
    justify-content: center;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container{
    max-width: 900px;
  }

  .title{
    font-size: 40px;
    line-height: 52px;
  }
  
  .text{
    font-size: 20px;
    line-height: 32px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container{
    max-width: 1100px;
  }

  .title{
    font-size: 50px;
    line-height: 62px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
  .container{
    max-width: 1250px;
  }
}